@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");

body {
  font-family: "Merriweather Sans", sans-serif;
}

img.logo {
  width: 38px;
  height: auto;
}

.navbar-brand {
  width: 50%;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #005caf;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.bg-minimalist {
  background-color: #ffffff !important;
  opacity: 0.9;
}

.btn-link {
  color: #005caf;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

footer {
  color: #005caf;
  font-size: 0.8rem;
  border-top: 1px solid #005caf;
}

.img-desc {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
  color: #005caf;
  transition: animation ease-in-out 2.5;
}

.img-desc:hover,
.img-desc:focus {
  opacity: 0.5;
  animation: portfolio 2s ease forwards;
}

@keyframes portfolio {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

.team {
  background: #81c7df;
}

.team .bg-minimalist {
  background-color: #81c7df !important;
}

.team .navbar-light .navbar-nav .active > .nav-link,
.team .navbar-light .navbar-nav .nav-link.active,
.team .navbar-light .navbar-nav .nav-link.show,
.team .navbar-light .navbar-nav .show > .nav-link,
.team .breadcrumb-item.active,
.team .breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}

.team .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.breadcrumb {
  color: #ffffff;
  background: none;
}
