html {
	font-size: 10px;
	font-family: "open sans", sans-serif;
	background-color: #CDFFF4;
}
body {
	width: auto;
	background-color: #C7FFC5;
	margin: 2% 4%;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	border-radius: 18px;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
	color: #62E1B9;
}
#firstp {
	margin-top: 220px;
}
p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
img {
	width: 200px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}
#user {
	display: block;
	margin: 0 auto;
	font-size: 20px;
}
audio {
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	margin-bottom: 30px;
}
video {
	display: block;
	margin: auto;
	left: 0;
	right: 0;
}